//variables del proyecto barbershop

//colores del proyecto
$white: #fff;
$platinum: #e6e7e7;
$lgray: #d1d1d1;
$fwuzzy: #e56353;
$rpink: #d76c69;
$spink: #ecbcba;
$eblack: #121619;
$rblack: #222323;
$nickel: #6c6e70;

//font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//font family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//font weight
$pfregular: 400;
$pfbitalic: 900;
$rlight: 300;
$rregular: 400;




