//navbar config
.navbar__img{
    height: 30px;
    width: 60px;
    margin-left: 60px;
}
.navbar__items{
    justify-content: end;
    font-family: $roboto;
    font-weight: $rregular; 
    font-size: $medium;
}



